<div class="profile">
	<div class="profile_text">
		<span class="username">
			<%= @user.username %>
		</span>
		<br><br>
		<span class="email">
			<%= @user.email %>
		</span>
	</div>
	<br>
	<% if logged_in? %>
		<% if current_user == @user || current_user.admin %>
			<div class="button_container">
				<%= link_to "Edit User", edit_user_path(@user), class: "cool_button" %>
				<%= link_to "New Song", new_song_path, class: "cool_button" %>
			</div>
		<% end %>
	<% end %>
</div>
<br>

<div class="wrapper">
	<div class="user_column">
		<span class="list_title">
			Uploaded Songs
		</span>
		<br><br>
		<% @songs.reverse.each do |song| %>
			<%= link_to "#{song.name} by #{song.artist}", song_path(song), class: "song_link" %><br>
		<% end %>
	</div>

	<div class="user_column">
		<span class="list_title">
			Favorites
		</span>
		<br><br>
		<% @fav_songs.reverse.each do |fav| %>
			<%= link_to "#{fav.song.name} by #{fav.song.artist}", song_path(fav), class: "song_link" %><br>
		<% end %>
	</div>
</div>