<!-- Puts up note if votes for a category reaches 5 -->
<% if logged_in? %>
	<% if current_user.admin %>
		<% if @cute_votes >= 5 %>
			Cute has at least 5 votes.
		<% elsif @joyful_votes >= 5 %>
			Joyful has at least 5 votes.
		<% elsif @melancholic_votes >= 5 %>
			Melancholic has at least 5 votes.
		<% elsif @psyched_votes >= 5 %>
			Psyched has at least 5 votes.
		<% elsif @serene_votes >= 5 %>
			Serene has at least 5 votes.
		<% end %>
	<% end %>
<% end %>
<!-- 
Cute: <%= @cute_votes %>
Joyful: <%= @joyful_votes %>
Melancholic: <%= @melancholic_votes %>
Psyched: <%= @psyched_votes %>
Serene: <%= @serene_votes %> -->
<div class="youtube_video">
	<!-- Embeds YouTube videos using YouTubeAddy gem -->
	<%=raw YouTubeAddy.youtube_embed_url(@song.youtube_url, 1280, 720) %>
</div>
<br><br>
<div class="song_info">
	<div class="info_text">
	<!-- Grabs data for js -->
		<h2 id="song_title" data-cat=<%= @category.id %>><%= @song.name %><br></h2>
		by <%= @song.artist %><br><br>
		<%= @song.description %><br>
	</div>
	<% if logged_in? %>
		<div class="button_container">
			<% if current_user == @song.user || current_user.admin %>
				<%= link_to "Edit Song", edit_song_path(@song), class: "cool_button" %>
			<% end %>
			<span class="fave_button">
			<!-- Allows user to favorite and unfavorite a song at will -->
				<% if !@favorite %>
					<%= link_to "Favorite", favorites_path(song_id: @song.id), method: :post, remote: :true, class: "cool_button" %>
				<% else %>
					<%= link_to "Unfavorite", favorite_path(@favorite.id), method: :delete, remote: :true, class: "cool_button" %>
				<% end %>
			</span>
		</div>
	<% end %>
</div>

<% if logged_in? %>
	<h2>What mood do you think this song actually belongs to?</h2>
	<div class="vote_wrapper">
	<!-- Allows users to click on a category and choose what they think the songs belong to, as well as allowing them to change it anytime -->
		<% @categories.each do |category| %>
			<%= form_for @vote, remote: :true do |f| %>
				<%= f.hidden_field :category_id, value: category.id %>
				<%= f.hidden_field :song_id, value: @song.id %>
				<% if category.id == @vote.category_id %>
					<%= image_submit_tag("#{category.mood}.png", class: "#{category.mood}_button selected") %>
				<% else %>
					<%= image_submit_tag("#{category.mood}.png", class: "#{category.mood}_button") %>
				<% end %>
			<% end %>
		<% end %>
	</div>
	<% if current_user.admin %>
		<div class="button_container">
			<%= link_to "Clear Votes", clear_all_path(@song), method: :post, class: "cool_button" %>
		</div>
	<% end %>

	<div class="comment_form">
	<!-- Adds new comment -->
		<%= form_for Comment.new, remote: :true do |f| %>
			<%= f.text_area :body, :cols => 150, :rows => 10, class: "comment_field" %><br><br>
			<%= f.hidden_field :user_id, value: current_user.id %>
			<%= f.hidden_field :song_id, value: @song.id %>
			<%= f.submit "Submit", class: "cool_button" %>
		<% end %>
	</div>
<% end %>

<div class="comments_list">
	<% if @song.comments %>
		<% @comments.reverse.each do |comment| %>
			<div class="comment_container_<%= comment.id %> comment_style">
				<div class="comment_text">
					<%= link_to comment.user.username, user_path(comment.user), class: "comment_user" %><br><br>
					<%= comment.body %><br>
				</div>
				<% if current_user == comment.user || current_user.admin %>
					<div class="button_container">
						<%= link_to "Delete", comment_path(comment), method: :delete, remote: :true, class: "cool_button" %>
					</div>
				<% end %>
			</div>
		<% end %>
	<% end %>
</div>