<h1>Otamusic</h1>

<h2>What mood are you looking for right now?</h2>
<!-- Makes images as links to random songs under that category -->
<%= link_to image_tag(@cute.mood), song_path(@random_cute), class: "random_song" %>
<%= link_to image_tag(@joyful.mood), song_path(@random_joyful), class: "random_song" %>
<%= link_to image_tag(@melancholic.mood), song_path(@random_melancholic), class: "random_song" %>
<%= link_to image_tag(@psyched.mood), song_path(@random_psyched), class: "random_song" %>
<%= link_to image_tag(@serene.mood), song_path(@random_serene), class: "random_song" %>
<br><br>

<div class="about">
	<h2>About Otamusic</h2>
	<p>Otamusic is the website for otakus, music-lovers, and otakus who love music. This site is meant to showcase all types of music from anime, video games, and other Japanese pop culture media. All you need to do is click on one of the buttons above representing an emotional category, and it will take you to a random song related to the category that has been submitted to this website! If you like the song you can favorite it, and you can add your own songs as well!</p>
	<p>But what does each emotional category mean?</p>
	<h3>Cute</h3>
	<p>Songs that make you happy and bubbly. It should invoke the imagery of clouds and sweets and teddy bears.</p>
	<h3>Joyful</h3>
	<p>Songs that also make you happy, but doesn't necessarily have to be cute. It can be epic or triumphant. Try looking for songs that are catchy in a major scale.</p>
	<h3>Melancholic</h3>
	<p>Songs that invoke a sad emotion. It could be because of the way the song moves slowly while sounding very somber or wistful. Songs that have depressing lyrical content also counts.</p>
	<h3>Psyched</h3>
	<p>Songs that get you hyped up. Songs that give you the feeling that something is about to go down. Most rock songs would fall under this category.</p>
	<h3>Serene</h3>
	<p>Songs that are calm and soothing. There should rarely be an extreme emotion in the song.</p>
</div>