<h1>Otamusic</h1>

<%= link_to image_tag(@cute.mood), song_path(@random_cute) %>
<%= link_to image_tag(@joyful.mood), song_path(@random_joyful) %>
<%= link_to image_tag(@melancholic.mood), song_path(@random_melancholic) %>
<%= link_to image_tag(@psyched.mood), song_path(@random_psyched) %>
<%= link_to image_tag(@serene.mood), song_path(@random_serene) %>