<h1>Otamusic</h1>

<h2>What mood are you looking for right now?</h2>

<%= link_to image_tag(@cute.mood), song_path(@random_cute), class: "random_song" %>
<%= link_to image_tag(@joyful.mood), song_path(@random_joyful), class: "random_song" %>
<%= link_to image_tag(@melancholic.mood), song_path(@random_melancholic), class: "random_song" %>
<%= link_to image_tag(@psyched.mood), song_path(@random_psyched), class: "random_song" %>
<%= link_to image_tag(@serene.mood), song_path(@random_serene), class: "random_song" %>